# IntelliJ IDEA
.idea/
*.iml

# User-specific files
.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/modules.xml
!.idea/vcs.xml
!.idea/workspace.xml
*.iws

# Windows system files
Thumbs.db
ehthumbs.db

# Mac system files
.DS_Store

# Java build output
/target/
out/

# Log files
*.log
